<% if @current_user %>
  <ul>
    <% @notes.each do |note| %>
      <li>
        <%= note.description %>
        <%= link_to edit_note_url(note) do %>
          <i class="icon-pencil"></i>
        <% end %>
        <%= link_to note_url(note), method: 'delete' do %>
          <i class="icon-trash"></i>
        <% end %>
      </li>
    <% end %>

    <%= form_tag "/notes" do %>
      <%#= text_field_tag "description", placeholder: "Add a new note here" %>
      <%= text_field_tag "description", "", :size => 50, :placeholder => "Add a new note here" %>
      <!-- <input placeholder="Add a new note here" name="description" size="50"> -->
    <% end %>
  </ul>
<% else %>
<h1>You should sign up!</h1>
<% end %>














